.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 370px;
    left: 65px;
  }
  
  .baloon {
    position: absolute;
    left: 200px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 220px;
    top: 115px;
    z-index: 2;
  }
  
  .bowser {
    width: 300px;
    position: absolute;
    top: 200px;
    left: 500px;
  }