body{
    font-size: 16px;
}

h1{
    text-decoration: underline;
    font-family: sans-serif;
    font-size: 65px;
    color: orange;
}

p{
    font-size: 3em;
    font-weight: 600px;
    text-align: center;
}

p, li{
    background-color: burlywood;
}

ul{
    background-color: greenyellow;
    line-height: 25px;
}

#amarelo{
    background-color: yellow;
}

#vermelho{
    background-color: red;
}

#marrom{
    background-color: brown;
}